<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Net.Paint</title>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>
    <h1>Net.Paint</h1>
    <form action="" method="POST">
        {{form.csrf}}
        <div>
            {{form.api_address.label}} {{form.api_address(size=80)}}<br>
            {{form.api_key.label}} {{form.api_key(size=80)}}<br>
            <input type="submit" value="Connect" />
        </div>
        <div>
            {{form.red.label}} {{form.red(value=red)}}
            {{form.green.label}} {{form.green(value=green)}}
            {{form.blue.label}} {{form.blue(value=blue)}}
        </div>
    </form>

    {% if grid %}
    <table style="border-collapse: collapse;">
        {% for cell in grid %}
            {% if cell['x'] == 0 %}
        <tr>
            {% endif %}
            <td id="cell-{{cell.x}}-{{cell.y}}" class="grid-cell" style="background: rgb({{cell.red}}, {{cell.green}}, {{cell.blue}}); width: 5px; height: 5px;"></td>
            {% if cell['x'] == 99 %}
        </tr>
            {% endif %}
        {% endfor %}

    </table>

    {% endif %}


</body>
</html>